<form
  *ngIf="!isLoggedIn"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" 
          class="form-control" 
          id="inputEmail3" 
          placeholder="Email"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
        Email is required!
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" 
          class="form-control" 
          id="inputPassword3" 
          placeholder="Password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel" />
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>

    <div class="form-group">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && isLoginFailed"
      >
        Login failed: {{ errorMessage }}
      </div>
    </div>
  </form>


  <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in! {{ roles }}
  </div>